parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 13
			path: config/vantage.php

		-
			message: '#^Call to an undefined method Illuminate\\Database\\Schema\\ColumnDefinition\:\:references\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: database/migrations/2025_09_23_000000_create_queue_job_runs_table.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/CleanupStuckJobs.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$started_at\.$#'
			identifier: property.notFound
			count: 2
			path: src/Console/Commands/CleanupStuckJobs.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 2
			path: src/Console/Commands/PruneOldJobs.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$exception_message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/RetryFailedJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 2
			path: src/Console/Commands/RetryFailedJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_tags\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/RetryFailedJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$payload\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/RetryFailedJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Console/Commands/RetryFailedJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_tags\.$#'
			identifier: property.notFound
			count: 2
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$payload\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$status\.$#'
			identifier: property.notFound
			count: 3
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\|Illuminate\\Database\\Eloquent\\Collection\<int, HoudaSlassi\\Vantage\\Models\\VantageJob\>\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\|Illuminate\\Database\\Eloquent\\Collection\<int, HoudaSlassi\\Vantage\\Models\\VantageJob\>\:\:\$retried_from_id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\|Illuminate\\Database\\Eloquent\\Collection\<int, HoudaSlassi\\Vantage\\Models\\VantageJob\>\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '''
				#^Call to deprecated method get\(\) of class Illuminate\\Http\\Request\:
				since Symfony 7\.4, use properties `\-\>attributes`, `query` or `request` directly instead$#
			'''
			identifier: method.deprecated
			count: 3
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Call to function is_string\(\) with class\-string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<\(int\|string\),mixed\>\:\:map\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Parameter \#1 \$callback of method Illuminate\\Support\\Collection\<int,HoudaSlassi\\Vantage\\Models\\VantageJob\>\:\:flatMap\(\) contains unresolvable type\.$#'
			identifier: argument.unresolvableType
			count: 2
			path: src/Http/Controllers/QueueMonitorController.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$cpu_sys_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$cpu_user_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$exception_class\.$#'
			identifier: property.notFound
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$exception_message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$finished_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_end_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_delta_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_end_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_start_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$stack\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$started_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Carbon\:\:diffInRealMilliseconds\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''getJobId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''resolveName'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''uuid'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Property Illuminate\\Queue\\Events\\JobFailed\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Listeners/RecordJobFailure.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''getJobId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''resolveName'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''uuid'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Property Illuminate\\Queue\\Events\\JobProcessing\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Listeners/RecordJobStart.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$cpu_sys_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$cpu_user_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$finished_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_end_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_delta_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_end_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_start_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$started_at\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to an undefined method Illuminate\\Support\\Carbon\:\:diffInRealMilliseconds\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''getJobId'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''isReleased'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''resolveName'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Queue\\Job and ''uuid'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Property Illuminate\\Queue\\Events\\JobProcessed\:\:\$connectionName \(string\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 2
			path: src/Listeners/RecordJobSuccess.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$cpu_sys_ms\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$cpu_user_ms\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$duration_ms\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_tags\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_end_bytes\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_delta_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_end_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_peak_start_bytes\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$memory_start_bytes\.$#'
			identifier: property.notFound
			count: 2
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$payload\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/VantageJob.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$attempt\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$exception_class\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$exception_message\.$#'
			identifier: property.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 3
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$queue\.$#'
			identifier: property.notFound
			count: 2
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Access to protected property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$connection\.$#'
			identifier: property.protected
			count: 2
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Call to method error\(\) on an unknown class Illuminate\\Notifications\\Messages\\SlackMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Instantiated class Illuminate\\Notifications\\Messages\\SlackMessage not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Method HoudaSlassi\\Vantage\\Notifications\\JobFailedNotification\:\:toSlack\(\) has invalid return type Illuminate\\Notifications\\Messages\\SlackMessage\.$#'
			identifier: class.notFound
			count: 1
			path: src/Notifications/JobFailedNotification.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 3
			path: src/Support/QueueDepthChecker.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$failed\.$#'
			identifier: property.notFound
			count: 1
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$job_class\.$#'
			identifier: property.notFound
			count: 1
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$payload\.$#'
			identifier: property.notFound
			count: 2
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$processed\.$#'
			identifier: property.notFound
			count: 2
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$status\.$#'
			identifier: property.notFound
			count: 1
			path: src/Vantage.php

		-
			message: '#^Access to an undefined property HoudaSlassi\\Vantage\\Models\\VantageJob\:\:\$total\.$#'
			identifier: property.notFound
			count: 1
			path: src/Vantage.php

		-
			message: '#^Call to an undefined method HoudaSlassi\\Vantage\\Support\\QueueDepthChecker\:\:check\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Vantage.php
